*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.container{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(136,174 ,136 );
    cursor: pointer;
}

.animat{
    scale: 0.9;
    animation: rotation 1s forwards;
}


@keyframes rotation{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);background-color: brown;}
}